<div class="container">
    <nav class="navbar navbar-expand-lg rounded nav-style">
      <img src="assets/logo.png" class="logo">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse nav-position" id="navbarsExample09">
        <ul class="navbar-nav mr-auto list">
          <li class="nav-item active">
            <a class="nav-link" href="#">Store <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products & Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help & Support</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>

      <!-- <div class="collapse navbar-collapse"> -->
        <div class="select">
          <select name="slct" id="slct">
            <option selected disabled>Personal</option>
            <option value="1">Option B</option>
            <option value="2">Option C</option>
            <option value="3">Option D</option>
          </select>
        </div>
      <!-- </div> -->
    </nav>
  </div>