<app-header></app-header>

<header>
  <div class="header-text">What are you <strong>here to do?</strong></div>
</header>
<section>
  <ngx-slick-carousel class="carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" 
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
  <mat-card class="example-card" ngxSlickItem *ngFor="let slide of slides" class="slide mat-card-wrap">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Service</mat-card-title>
      <mat-card-subtitle>Task</mat-card-subtitle>
    </mat-card-header>
    <img class="photo" mat-card-image src="{{ slide.img }}" alt="Photo">
    <mat-card-content>
      <h1>Loreum ipsum</h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>START HERE ></button>
    </mat-card-actions>
  </mat-card>
  </ngx-slick-carousel>

  <!-- second -->
  <div>
    <ngb-carousel #ngcarousel>
      <ng-template ngbSlide id="one">
        <div class="picsum-img-wrapper">
          <img src="assets/img-01.jpg" alt="Slide 1">
        </div>
      </ng-template>
      <ng-template ngbSlide id="two">
        <div class="picsum-img-wrapper">
          <img src="assets/img-02.jpg" alt="Slide 2">
        </div>
      </ng-template>
      <ng-template ngbSlide id="three">
        <div class="picsum-img-wrapper">
          <img src="assets/img-03.jpg" alt="Slide 3">
        </div>
      </ng-template>
      <ng-template ngbSlide id="four">
        <div class="picsum-img-wrapper">
          <img src="assets/img-04.jpg" alt="Slide 4">
        </div>
      </ng-template>
    </ngb-carousel>
    
    <div class="text-center">
      <!-- <button (click)="navigateToSlide('four')">Go to Slide Four</button>
      <button (click)="getToPrev()">Prev</button>
      <button (click)="goToNext()">Next</button>
      <button (click)="stopCarousel()">Pause</button> -->
    </div>
  </div>
</section>


<app-footer></app-footer>

